<div class="animated fadeIn" ng-controller="ItemController">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Организация</li>
                        <li class="list-group-item">Услуга</li>
                        <li class="list-group-item">Окончание приёма заявок</li>
                        <li class="list-group-item">Цена</li>
                        <li class="list-group-item">Тип проведения</li>
                        <li class="list-group-item">Подпись организации</li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-5 py-4">
                                    Обеспечение от райфазен
                                </div>
                                <rzslider class="col-7" rz-slider-model="100"></rzslider>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-5 py-4">
                                    Доступный кредитный лимит
                                </div>
                                <rzslider class="col-7" rz-slider-model="1000"></rzslider>
                            </div>
                        </li>
                    </ul>
                    <div class="col-12 col-sm-2 p-0 my-3">
                        <button class="btn btn-square btn-warning" type="button">
                            Участвовать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
