<div class="animated fadeIn" ng-controller="ItemController">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><b>Организация:</b> {{ item.organization }}</li>
                        <li class="list-group-item"><b>Услуга:</b> {{ item.lotItems[0].name }}</li>
                        <li class="list-group-item">
                            <b>Окончание приёма заявок:</b>
                            {{ moment.unix(item.tillDate / 1000).format("MM.DD.YYYY") }}
                        </li>
                        <li class="list-group-item">
                            <b>Цена:</b>
                            {{ item.lotItems[0].firstPrice }} руб.
                        </li>
                        <li class="list-group-item"><b>Тип проведения:</b> {{ item.provider}}</li>
                        <li class="list-group-item"><b>Подпись организации</b>
                            <a target="_blank" href="{{ item.signViewUrl }}">Подпись</a>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-5 py-4">
                                    <img src="../img/favicon.png" width="32px">
                                    <b>Обеспечение от райфазен:</b>
                                </div>
                                <div class="col-7">
                                    <rzslider
                                            rz-slider-options="sliderOption"
                                            rz-slider-model="ob"></rzslider>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-5 py-4">
                                    <img src="../img/favicon.png" width="32px">
                                    <b>Доступный кредитный лимит:</b>
                                </div>
                                <div class="col-7">
                                    <rzslider
                                            rz-slider-options="sliderOption"
                                            rz-slider-model="cred"></rzslider>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-5">
                                    <img src="../img/favicon.png" width="32px">
                                    <b>Техническое сопровождение от райффайзен:</b>
                                </div>
                                <div class="col-7">
                                    <label class="switch switch-3d switch-yellow">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="col-12 col-sm-2 p-0 my-3">
                        <button ng-click="accept()" class="btn btn-square btn-warning" type="button">
                            Участвовать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
